<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Certifications</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <table class="credlink">
                    <thead>
                        <tr>
                            <th>Certification</th>
                            <th>Company</th>
                            <th>Coursera</th>
                            <th>Credly</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Data Science (V2)</td>
                            <td>IBM</td>
                            <td><a href="https://coursera.org/share/9297cfc6977d664a16ab662fb2721321" target="_blank" class="credlink"><i class="fa fa-external-link fa-lg credlink"></i></a></td>
                            <td><a href="https://www.credly.com/badges/7fa9e0de-c8ba-4405-82df-af3288dd950f" target="_blank" class="credlink"><i class="fa fa-external-link fa-lg credlink"></i></a></td>
                        </tr>
                        <tr>
                            <td>Applied Data Science (V2)</td>
                            <td>IBM</td>
                            <td><a href="https://coursera.org/share/34376828ad08a19388b97e6ce8428475" target="_blank" class="credlink"><i class="fa fa-external-link fa-lg credlink"></i></a></td>
                            <td><a href="https://www.credly.com/badges/c05601a3-7627-4d97-9b8e-617eaa4df080" target="_blank" class="credlink"><i class="fa fa-external-link fa-lg credlink"></i></a></td>
                        </tr>
                        <tr>
                            <td>Data Science Fundamentals with Python and SQL</td>
                            <td>IBM</td>
                            <td><a href="https://coursera.org/share/a4a6496755b8564749271a16e3a0d585" target="_blank" class="credlink"><i class="fa fa-external-link fa-lg credlink"></i></a></td>
                            <td><a href="https://www.credly.com/badges/cf440664-b4fd-4085-bc54-715ffd7ae266" target="_blank" class="credlink"><i class="fa fa-external-link fa-lg credlink"></i></a></td>
                        </tr>
                        <tr>
                            <td>AI Foundations for Business</td>
                            <td>IBM</td>
                            <td><a href="https://coursera.org/share/42e79dfcc3d32562e114727c67c866e6" target="_blank" class="credlink"><i class="fa fa-external-link fa-lg credlink"></i></a></td>
                            <td><a href="https://www.credly.com/badges/ba8d1679-29e1-44b3-b87a-8f210b1e279f" target="_blank" class="credlink"><i class="fa fa-external-link fa-lg credlink"></i></a></td>
                        </tr>
                        <tr>
                            <td>Key Technologies for Business</td>
                            <td>IBM</td>
                            <td><a href="https://coursera.org/share/310d025ea5f048e11f3e41107ea98403" target="_blank" class="credlink"><i class="fa fa-external-link fa-lg credlink"></i></a></td>
                            <td><a href="https://www.credly.com/badges/11ac419b-ed0e-453c-9963-b58a0d56417a" target="_blank" class="credlink"><i class="fa fa-external-link fa-lg credlink"></i></a></td>
                        </tr>
                        <tr>
                            <td>Introduction to Data Science</td>
                            <td>IBM</td>
                            <td><a href="https://coursera.org/share/a9c17364e48b11c2893113faa06e6a90" target="_blank" class="credlink"><i class="fa fa-external-link fa-lg credlink"></i></a></td>
                            <td><a href="https://www.credly.com/badges/6b93645c-ce68-490f-a06f-23e7a28ceaca" target="_blank" class="credlink"><i class="fa fa-external-link fa-lg credlink"></i></a></td>
                        </tr>
                        <tr>
                            <td>Data Science (V1)</td>
                            <td>IBM</td>
                            <td><a href="https://coursera.org/share/867159f857da992766288b33110ddd68" target="_blank" class="credlink"><i class="fa fa-external-link fa-lg credlink"></i></a></td>
                            <td><a href="https://www.credly.com/badges/635b5169-ad76-461c-9a84-dd8ef74dc915" target="_blank" class="credlink"><i class="fa fa-external-link fa-lg credlink"></i></a></td>
                        </tr>
                        <tr>
                            <td>Applied Data Science (V1)</td>
                            <td>IBM</td>
                            <td><a href="https://coursera.org/share/70fddcf89da6941741e7d30992ac6252" target="_blank" class="credlink"><i class="fa fa-external-link fa-lg credlink"></i></a></td>
                            <td><a href="https://www.credly.com/badges/fe9d8961-95a3-4c99-b12e-a7035d3a3889" target="_blank" class="credlink"><i class="fa fa-external-link fa-lg credlink"></i></a></td>
                        </tr>
                        <tr>
                            <td>Google Analytics Individual Qualification</td>
                            <td>Google</td>
                            <td><a href="https://skillshop.exceedlms.com/student/award/QL2wIEg5Vbnm5VY9jovCoq2F" target="_blank" class="credlink"><i class="fa fa-external-link fa-lg credlink"></i></a></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>